header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    
}
.marca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    margin-bottom: 15px;
  
}

.nome{
    font-family: "cal sans", sans-serif;
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding: 10px;
}

.cargo{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-top: -20px;
    margin-left: 30px;
    
}



.menu a{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25px;
    margin: auto;
    
}

.menu a:hover{
    font-weight: bold;
    color: rgb(41, 41, 41);
}
body {
    font-family: "cal sans", sans-serif;
    color: rgb(255, 255, 255);
    background: #2a331b
}