/* Desktop permanece igual */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    margin-bottom: 15px;
}

.nome {
    font-family: "cal sans", sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.cargo {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-top: -20px;
    margin-left: 30px;
}

.menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25px;
    margin: auto;
}

.menu a:hover {
    font-weight: bold;
    color: rgb(41, 41, 41);
}

body {
    font-family: "cal sans", sans-serif;
    color: rgb(255, 255, 255);
    background: #2a331b;
}

footer {
    text-align: center;
    padding: 1px 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .marca {
        padding-left: 0;
        margin-bottom: 5px;
    }

    .nome {
        font-size: 28px;
        padding: 5px 0;
    }

    .cargo {
        font-size: 12px;
        margin-left: 0;
        margin-top: -5px;
    }

    .menu a {
        padding: 10px 15px;
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
        padding: 5px 0;
    }
}
